version: "3"

services:
  wg:
    build: .
    #image: MmadF14/vwireguard:latest
    container_name: wgui
    cap_add:
      - NET_ADMIN  # Required for WireGuard and iptables
      - SYS_MODULE # Required for loading kernel modules
    network_mode: host  # Uses host network - UDP port 51820 is automatically available
    environment:
      - SENDGRID_API_KEY
      - EMAIL_FROM_ADDRESS
      - EMAIL_FROM_NAME
      - SESSION_SECRET
      - WGUI_USERNAME=alpha
      - WGUI_PASSWORD=this-unusual-password
      - WG_CONF_TEMPLATE
      - WGUI_MANAGE_START=false
      - WGUI_MANAGE_RESTART=false
    logging:
      driver: json-file
      options:
        max-size: 50m
    volumes:
      - ./db:/app/db
      - /etc/wireguard:/etc/wireguard
